# StrictDF
---
Vamos a mostrar el uso de la libreria [StrictDf](https://github.com/CristianContrera95/strict_df), la cual permite saber el tipo de datos correcto en un dataframe, chequeando sus valores y borrando los que no se correspondan.

*En el repositorio se puede encontrar los comandos para leer la documentacion de la libreria*

#### Install library
- from GitHub

In [2]:
#!pip install git+git://github.com/CristianContrera95/strict_df.git

- from local dist

In [2]:
# !pip install ../../dist/strictdf-0.1.0-py3-none-any.whl

---

In [1]:
from strictdf import StrictDataFrame
from strictdf.utils.dataset import load_credit_data

### Load given dataset from S3

In [2]:
df = load_credit_data()

/home/anybody/Projects/Acamica/venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

### Required use case

In [13]:
sdf = StrictDataFrame(df)

sdf.dtypes

{'serious_dlqin2yrs': 'bool',
 'revolving_utilization_of_unsecured_lines': 'float64',
 'age': 'int64',
 'number_of_time30-59_days_past_due_not_worse': 'int64',
 'debt_ratio': 'float64',
 'monthly_income': 'int64',
 'number_of_open_credit_lines_and_loans': 'int64',
 'number_of_times90_days_late': 'int64',
 'number_real_estate_loans_or_lines': 'int64',
 'number_of_time60-89_days_past_due_not_worse': 'int64',
 'number_of_dependents': 'int64'}

In [11]:
sdf.report()

"DataFrame having shape '(120157, 11)' (29843 rows removed from original)"

In [14]:
sdf.new_df.tail(4)

,serious_dlqin2yrs,revolving_utilization_of_unsecured_lines,age,number_of_time30-59_days_past_due_not_worse,debt_ratio,monthly_income,number_of_open_credit_lines_and_loans,number_of_times90_days_late,number_real_estate_loans_or_lines,number_of_time60-89_days_past_due_not_worse,number_of_dependents
149995,False,0.040674,74,0,0.225131,2100,4,0,1,0,0
149996,False,0.299745,44,0,0.716562,5584,4,0,1,0,2
149998,False,0.000000,30,0,0.000000,5716,4,0,0,0,0
149999,False,0.850283,64,0,0.249908,8158,8,0,2,0,0

In [15]:
sdf.old_df.tail(4)

,serious_dlqin2yrs,revolving_utilization_of_unsecured_lines,age,number_of_time30-59_days_past_due_not_worse,debt_ratio,monthly_income,number_of_open_credit_lines_and_loans,number_of_times90_days_late,number_real_estate_loans_or_lines,number_of_time60-89_days_past_due_not_worse,number_of_dependents
149996,0,0.299745,44.0,0,0.716562,5584.0,4,0,1,0,2
149997,0,0.246044,58.0,0,3870.000000,NaN,18,0,1,0,0
149998,0,0.000000,30.0,0,0.000000,5716.0,4,0,0,0,0
149999,0,0.850283,64.0,0,0.249908,8158.0,8,0,2,0,0

---

### Other use example

In [18]:
import pandas as pd

- You can download this dataset [here](https://drive.google.com/uc?export=download&id=1Ugbsw5XbNRbglomSQO1qkAgMFB_3BzmB)

In [20]:
df = pd.read_csv('DS_Proyecto_01_Datos_Properati.csv')
df.tail(4)

,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,title,description,property_type,operation_type
146656,2019-07-31,2019-08-14,2019-07-31,-34.446459,-58.937810,Argentina,Bs.As. G.B.A. Zona Norte,Pilar,4.0,3.0,2.0,164.0,90.0,130000.0,USD,Venta departamentos tres dormitorios jardín co...,Muy buen duplex a estrenar en dos plantas más ...,Departamento,Venta
146657,2019-07-31,2019-08-14,2019-07-31,-34.444633,-58.981606,Argentina,Bs.As. G.B.A. Zona Norte,Pilar,1.0,1.0,1.0,50.0,35.0,73000.0,USD,Venta departamento de un ambiente Manzanares C...,"En los Condominios de Campo Manzanares Chico, ...",Departamento,Venta
146658,2019-07-31,2019-08-14,2019-07-31,-34.444830,-58.981796,Argentina,Bs.As. G.B.A. Zona Norte,Pilar,2.0,1.0,1.0,38.0,38.0,68000.0,USD,Departamento en Venta. Manzanares chico.,Broker: Maria 11Departamento de dos ambientes ...,Departamento,Venta
146659,2019-07-31,2019-10-12,2019-07-31,-34.444760,-58.981885,Argentina,Bs.As. G.B.A. Zona Norte,Pilar,3.0,2.0,1.0,75.0,75.0,98000.0,USD,Departamento en venta en Manzanares Chico,"Departamento en el Barrio Manzanares Chico , e...",Departamento,Venta

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146660 entries, 0 to 146659
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   start_date       146660 non-null  object
 1   end_date         146660 non-null  object
 2   created_on       146660 non-null  object
 3   lat              136735 non-null  float64
 4   lon              136701 non-null  float64
 5   l1               146660 non-null  object
 6   l2               146660 non-null  object
 7   l3               146660 non-null  object
 8   rooms            146660 non-null  float64
 9   bedrooms         146660 non-null  float64
 10  bathrooms        140703 non-null  float64
 11  surface_total    126133 non-null  float64
 12  surface_covered  125046 non-null  float64
 13  price            146660 non-null  float64
 14  currency         146660 non-null  object
 15  title            146660 non-null  object
 16  description      146660 non-null  object
 17  property_type    146660 non-null  object
 18  operation_type   146660 non-null  object
dtypes: float64(8), object(11)
memory usage: 21.3+ MB

In [22]:
sdf = StrictDataFrame(df)

sdf.dtypes

{'start_date': 'str',
 'end_date': 'str',
 'created_on': 'str',
 'lat': 'float64',
 'lon': 'float64',
 'l1': 'str',
 'l2': 'str',
 'l3': 'str',
 'rooms': 'int64',
 'bedrooms': 'int64',
 'bathrooms': 'int64',
 'surface_total': 'int64',
 'surface_covered': 'int64',
 'price': 'int64',
 'currency': 'str',
 'title': 'str',
 'description': 'str',
 'property_type': 'str',
 'operation_type': 'str'}

In [23]:
sdf.report()

"DataFrame having shape '(114488, 19)' (32172 rows removed from original)"