 <center><h1> Pandas.Style </h1><center>
    
 <center><h3><i>   Una forma de aplicar estilos al DataFrame.  </i></h3><center>

Si bien sabemos que uno de los mejores caminos para comunicar resultados, son los gráficos, muchas veces necesitamos o preferimos una tabla. Ya sea porque quiero ver el valor preciso o quiero visualizar algo con mucho detalle o se me está complicando crear la visualización. Para estos casos, sería ideal  por lo menos poder tunear el DataFrame a gusto, ya sea resaltar algún valor, pintar de acuerdo a una escala, setear el formato de los números con 500 decimales, entre algunas de las cosas.
Para esta configuración, pandas nos ofrece el módulo Style, que nos viene a dar una mano y permitirnos de manera fácil y rápida ese cambio de cara de nuestro DataFrame.

El estilo se logra mediante CSS. Se escriben "funciones de estilo" que toman escalares, DataFrames o Series, y devuelven DataFrames o Series indexados como pares con CSS "attribute: value". Estas funciones se pueden pasar de forma incremental al Styler, que recopila los estilos antes de renderizar.
     
Si se usa en un notebook de Jupyter, Styler ha definido un _repr_html_ para renderizarse automáticamente. De lo contrario, se puee llamar a Styler.render para obtener el HTML generado.     
     
Para más info: https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html
     
Sin más que acotar, manos a la obra!

## Importamos librerias y Dataset para trabajar
Solo nos bastará con numpy y pandas para el procesamiento, sklearn para importar el dataset de Iris, y seaborn en este caso es solo para importar paletas de colores.

In [1]:
import numpy as np 
import pandas as pd # procesamiento de datos
from sklearn import datasets # para importar el dataset iris directamente desde los dataset que provee sklearn
import seaborn as sns # para importar paleta de colores

In [2]:
pd.__version__

'1.2.4'

Cargamos el dataset

In [3]:
iris = datasets.load_iris()

In [4]:
iris = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

Sobreescribimos algunos valores con nulos para poder ejemplificar más adelante.

In [5]:
# agregar nulos para ejemplificar
iris.iloc[3, 3] = np.nan
iris.iloc[0, 2] = np.nan

Le pegamos una mirada a como está el dataset

In [6]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,NaN,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,NaN,0.0
4,5.0,3.6,1.4,0.2,0.0

## Style Functions
Antes de empezar, dejo un resumen de todas las funciones que tiene este módulo. [pandas-docs-here](https://pandas.pydata.org/pandas-docs/stable/reference/style.html)

* **apply**(func[, axis, subset]):  Aplicar una función a columnas, filas o tabla.
* **applymap**(func[, subset]):  Aplicar una función por elementos.
* **background_gradient**([cmap, low, high, axis, …]): Colorear el fondo con un estilo de degradado.
* **bar**([subset, axis, color, width, align, …]): Dibujar un gráfico de barras en los fondos de las celdas.
* **clear**(): Reiniciar el modelador, eliminando los estilos aplicados previamente.
* **export**(): Exportar los estilos para aplicarlos al Styler actual.
* **format**(formatter[, subset, na_rep]): Formatear el valor de visualización de texto de las celdas.
* **from_custom_template**(searchpath, name): Función Factory para crear una subclase de Styler.
* **hide_columns**(subset): Ocultar columnas del renderizado.
* **hide_index**(): Ocultar cualquier índice del renderizado.
* **highlight_max**([subset, color, axis]): Resaltar el máximo sombreando el fondo.
* **highlight_min**([subset, color, axis]): Resaltar el mínimo sombreando el fondo.
* **highlight_null**([null_color, subset]): Sombrear el fondo con *null_color* para los valores faltantes.
* **pipe**(func, *args*, **kwargs**): Aplicar func(self, *args*, **kwargs**),  y devolver el resultado.
* **render**(**kwargs)**: Renderizar los estilos construidos a HTML.
* **set_caption**(caption): Setear el título en un Styler.
* **set_na_rep**(na_rep): Setear la representación de datos faltantes en un Styler.
* **set_precision**(precision): Setear la precisión utilizada para renderizar.
* **set_properties**([subset]): Método para setear una o más propiedades no dependientes de datos o cada celda.
* **set_table_attributes**(attributes): Setear los atributos de la tabla.
* **set_table_styles**(table_styles[, axis, overwrite]) Setear los estilos de tabla en un Styler
* **set_td_classes**(classes): Agregar nombres de clase CSS basados en strings a las celdas de datos que aparecerán dentro del resultado HTML de Styler.
* **set_uuid**(uuid): Setear el uuid para un Styler.
* **to_excel**(excel_writer[, sheet_name, na_rep, …]): Exportar Styler a un Excel.
* **use**(styles): Setear los estilos en el Styler actual.
* **where**(cond, value[, other, subset]): Aplicar una función por elementos.

### Estilos Directos o Pre-Contruidos
* **background_gradient**([cmap, low, high, axis, …]): Colorear el fondo con un estilo de degradado.
* **bar**([subset, axis, color, width, align, …]): Dibujar un gráfico de barras en los fondos de las celdas.
* **highlight_max**([subset, color, axis]): Resaltar el máximo sombreando el fondo.
* **highlight_min**([subset, color, axis]): Resaltar el mínimo sombreando el fondo.
* **highlight_null**([null_color, subset]): Sombrear el fondo con *null_color* para los valores faltantes.

#### background_gradient
background_gradient(cmap='PuBu', low=0, high=0, axis=0, subset=None, text_color_threshold=0.408, vmin=None, vmax=None)

In [7]:
iris.groupby('target').mean().style.background_gradient()

##### Cambiar el eje para calcular el color gradiente
* Para aplicar el gradiente por columna (axis=0 o 'index')
* Para aplicar el gradiente por fila (axis=1 or 'columns')
* Para aplicar al DataFrame entero (axis=None)

In [8]:
iris.groupby('target').mean().style.background_gradient(axis = 1)

In [9]:
iris.groupby('target').mean().style.background_gradient(axis = None)

##### Cambiar intensidad de los colores, en base a los valores mínimos y máximos
* low: Compress the range by the low.
* high: Compress the range by the high.
* vmin: Minimum data value that corresponds to colormap minimum value. Default: the minimum value of the data will be used
* vmax: Maximum data value that corresponds to colormap maximum value. Default: the maximum value of the data will be used.

In [10]:
iris.groupby('target').mean().style.background_gradient(low=0, high=1)

In [11]:
iris.groupby('target').mean().style.background_gradient(vmin=2, vmax=5)

##### Seleccionar columnas, filas o un combinado para aplicar estilo

In [12]:
iris.groupby('target').mean().style.background_gradient(subset=['petal length (cm)','petal width (cm)'])

In [13]:
iris.groupby('target').mean().style.background_gradient(subset=pd.IndexSlice[0:1,['petal length (cm)','petal width (cm)']])

##### Cambiar la paleta de colores

In [14]:
cm = sns.light_palette("green", as_cmap=True)

iris.groupby('target').mean().style.background_gradient(cmap=cm)

#### bar
bar(subset=None, axis=0, color='#d65f5f', width=100, align='left', vmin=None, vmax=None)

align{‘left’, ‘zero’,’ mid’}, default ‘left’
Cómo alinear las barras con las celdas.
* "left": el valor mínimo comienza a la izquierda de la celda.
* "zero": un valor de cero se encuentra en el centro de la celda.
* "mid": el centro de la celda está en (max-min) / 2, o si los valores son todos negativos (positivos), el cero se alinea a la derecha (izquierda) de la celda.

In [15]:
iris.groupby('target').mean().style.bar()

In [16]:
iris.groupby('target').mean().style.bar(align='zero')

#### highlight_min
highlight_min(subset=None, color='yellow', axis=0)

In [17]:
iris.groupby('target').mean().style.highlight_min(color='blue')

#### highlight_max
highlight_max(subset=None, color='yellow', axis=0)

In [18]:
iris.groupby('target').mean().style.highlight_max(color='orange', axis = None)

#### highlight_null
highlight_null(null_color='red', subset=None)

In [19]:
iris.head(7).style.highlight_null(null_color='red').format(None, na_rep="-")

### Aplicar estilos personalizados

* **applymap**(func[, subset]):  Aplicar una función por elementos.
* **apply**(func[, axis, subset]):  Aplicar una función a columnas, filas o tabla.
    * *apply(func, axis=0)*: Aplicar una función de estilo por columnas.
    * *apply(func, axis=1)*: Aplicar una función de estilo por filas.
    * *apply(func, axis=None)*: Aplicar una función de estilo a la tabla.

In [20]:
def color_median_red(s):
    """
    Toma un escalar y devuelve una cadena 
    con la propiedad css `'color: blue'` 
    para valores que superen la mediana, y negro en caso contrario. 
    """
    is_max = s >= s.median()
    return ['color: blue' if v else '' for v in is_max]

In [46]:
print(iris.head(10).median())
iris_median = iris.head(10).style.apply(color_median_red, subset= iris.columns.drop('target')).highlight_null(null_color='red')
iris_median

sepal length (cm)    4.9
sepal width (cm)     3.3
petal length (cm)    1.4
petal width (cm)     0.2
target               0.0
dtype: float64

In [22]:
iris.groupby('target').mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0.0,5.006,3.428,1.463265,0.246939
1.0,5.936,2.770,4.260000,1.326000
2.0,6.588,2.974,5.552000,2.026000

In [23]:
iris_cut =  iris.groupby('target').mean().apply(lambda x: pd.cut(x,3,labels =['bajo','medio','alto']), axis =0)
iris_cut

       sepal length (cm) sepal width (cm) petal length (cm) petal width (cm)
target
0.0                 bajo             alto              bajo             bajo
1.0                medio             bajo              alto            medio
2.0                 alto             bajo              alto             alto

In [24]:
def color_by_category(val):    
    """
    Toma un valor string y devuelve una cadena 
    con la propiedad css `'background-color'` segun el valor 
    alto: verde, medio: amarillo y bajo: rojo
    """
    
    if( val == 'bajo'): color = '#FF5733'    
    elif (val == 'medio'): color = 'yellow'  
    elif (val == 'alto'): color = '#50BA0A'
    else: color = 'white'
    return 'background-color: %s' % color

In [25]:
iris_cut_colors = iris_cut.style.applymap(color_by_category)
print(type(iris_cut_colors))
iris_cut_colors

<class 'pandas.io.formats.style.Styler'>

In [26]:
group = iris.groupby('target').mean()
iris_cut.columns = iris_cut.columns.str.replace('\(cm\)', 'cat')
pd.concat([iris_cut, iris.groupby('target').mean()], axis = 1).style.applymap(color_by_category, subset = iris_cut.columns)

C:\ProgramData\Miniconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

### Guardar la tabla en un excel

In [27]:
iris_cut_colors.columns = iris_cut.columns

In [28]:
# need install openpyxl
iris_cut_colors.to_excel('./my_excel_test.xlsx')

In [29]:
#a.data.iloc[:,:] =  iris.groupby('target').mean().iloc[:,:]

### Mejorar nuestro estilo

* **format**(formatter[, subset, na_rep]): Formatear el valor de visualización de texto de las celdas.
* **hide_columns**(subset): Ocultar columnas del renderizado.
* **hide_index**(): Ocultar cualquier índice del renderizado.
* **render**(**kwargs)**: Renderizar los estilos construidos a HTML.
* **set_caption**(caption): Setear el título en un Styler.
* **set_na_rep**(na_rep): Setear la representación de datos faltantes en un Styler.
* **set_precision**(precision): Setear la precisión utilizada para renderizar.
* **set_properties**([subset]): Método para setear una o más propiedades no dependientes de datos o cada celda.
* **set_table_attributes**(attributes): Setear los atributos de la tabla.
* **set_table_styles**(table_styles[, axis, overwrite]) Setear los estilos de tabla en un Styler
* **set_td_classes**(classes): Agregar nombres de clase CSS basados en strings a las celdas de datos que aparecerán dentro del resultado HTML de Styler.
* **where**(cond, value[, other, subset]): Aplicar una función por elementos.

In [30]:
iris_median\
    .hide_index()\
    .hide_columns('target') \
    .set_caption('My Table' ) \
    .set_na_rep('FAIL') \
    .format("{:.2f}", na_rep = '-')

#### Setear estilo a la tabla

In [31]:
my_style = {
    'sepal length (cm)': [dict(
                                selector='',
                                props=[('color', 'green')])],
    'sepal width (cm)': [dict(
                                selector='td', 
                                props=[('color', 'red')])],
    'petal length (cm)': [dict(
                                selector='th', 
                                props=[('color', 'blue')])],
    'petal width (cm)': [dict(
                                selector='td', 
                                props=[('color', 'purple')]),
                        dict(
                                selector='th', 
                                props=[('color', 'pink')#,('background-color' , linear-gradient(0deg, rgba(61,164,166,1)))
                                      ])],
    'target': [dict(
                    selector='th', 
                    props=[('color', 'purple'),
                           ('font-size', '15pt'),
                           ('border-color', 'blue'),
                           ('border-style', 'solid') ]),
               dict(
                   selector='td', 
                   props=[('color', 'purple'),
                          ('background-color', 'pink'),
                          ('font-family', 'arial black'),
                          ('border-width', 'thin'), #thing, medium, bold
                          ('border-color', 'blue'),
                          ('border-style', 'dotted'),
                          ('padding', '10px')])]
    }

In [32]:
iris.head(10).style.set_table_styles(my_style)

In [33]:
iris_median.render().split('\n')[:20]

['<style  type="text/css" >',
 '#T_b610c_row0_col0,#T_b610c_row0_col1,#T_b610c_row0_col3,#T_b610c_row1_col0,#T_b610c_row1_col2,#T_b610c_row1_col3,#T_b610c_row2_col3,#T_b610c_row3_col2,#T_b610c_row4_col0,#T_b610c_row4_col1,#T_b610c_row4_col2,#T_b610c_row4_col3,#T_b610c_row5_col0,#T_b610c_row5_col1,#T_b610c_row5_col2,#T_b610c_row5_col3,#T_b610c_row6_col1,#T_b610c_row6_col2,#T_b610c_row6_col3,#T_b610c_row7_col0,#T_b610c_row7_col1,#T_b610c_row7_col2,#T_b610c_row7_col3,#T_b610c_row8_col2,#T_b610c_row8_col3,#T_b610c_row9_col0,#T_b610c_row9_col2{',
 '            color:  blue;',
 '            color:  blue;',
 '            color:  blue;',
 '        }</style><table id="T_b610c_" ><caption>My Table</caption><thead>    <tr>        <th class="col_heading level0 col0" >sepal length (cm)</th>        <th class="col_heading level0 col1" >sepal width (cm)</th>        <th class="col_heading level0 col2" >petal length (cm)</th>        <th class="col_heading level0 col3" >petal width (cm)</th>    </tr></thead><tbody>',
 '                <tr>',
 '                                <td id="T_b610c_row0_col0" class="data row0 col0" >5.10</td>',
 '                        <td id="T_b610c_row0_col1" class="data row0 col1" >3.50</td>',
 '                        <td id="T_b610c_row0_col2" class="data row0 col2" >-</td>',
 '                        <td id="T_b610c_row0_col3" class="data row0 col3" >0.20</td>',
 '                    </tr>',
 '            <tr>',
 '                                <td id="T_b610c_row1_col0" class="data row1 col0" >4.90</td>',
 '                        <td id="T_b610c_row1_col1" class="data row1 col1" >3.00</td>',
 '                        <td id="T_b610c_row1_col2" class="data row1 col2" >1.40</td>',
 '                        <td id="T_b610c_row1_col3" class="data row1 col3" >0.20</td>',
 '                    </tr>',
 '            <tr>',
 '                                <td id="T_b610c_row2_col0" class="data row2 col0" >4.70</td>']

In [34]:
def hover(hover_color="#ffff99"):
    return dict(selector="tr:hover",
                props=[("background-color", "%s" % hover_color)])

styles = [
    hover(),
    dict(selector="th", props=[("font-size", "100%"),
                               ("text-align", "center")]),
    dict(selector="caption", props=[("caption-side", "bottom")])
]

In [35]:
iris.head(10).style.set_table_styles(styles)

In [36]:
def magnify():
    return [dict(selector="th",
                 props=[("font-size", "5pt")]),
            dict(selector="td",
                 props=[('padding', "0em 0em")]),
            dict(selector="th:hover",
                 props=[("font-size", "12pt")]),
            dict(selector="tr:hover td:hover",
                 props=[('max-width', '200px'),
                        ('font-size', '12pt')])
]

In [37]:
iris.head(10).style.background_gradient( axis=0)\
    .set_properties(**{'max-width': '500px', 'font-size': '0pt'})\
    .set_caption("Hover to magnify")\
    .set_precision(2)\
    .set_table_styles(magnify())

### Usar el estilo de un DF como mask

In [47]:
iris_cut_colors.ctx

defaultdict(list,
            {(0, 0): ['background-color: #FF5733',
              'background-color: #FF5733'],
             (1, 0): ['background-color: yellow', 'background-color: yellow'],
             (2, 0): ['background-color: #50BA0A',
              'background-color: #50BA0A'],
             (0, 1): ['background-color: #50BA0A',
              'background-color: #50BA0A'],
             (1, 1): ['background-color: #FF5733',
              'background-color: #FF5733'],
             (2, 1): ['background-color: #FF5733',
              'background-color: #FF5733'],
             (0, 2): ['background-color: #FF5733',
              'background-color: #FF5733'],
             (1, 2): ['background-color: #50BA0A',
              'background-color: #50BA0A'],
             (2, 2): ['background-color: #50BA0A',
              'background-color: #50BA0A'],
             (0, 3): ['background-color: #FF5733',
              'background-color: #FF5733'],
             (1, 3): ['background-color: yellow', 'background-color: yellow'],
             (2, 3): ['background-color: #50BA0A',
              'background-color: #50BA0A']})

In [38]:
iris_mean_colors = group.style
iris_mean_colors.ctx = iris_cut_colors.ctx
iris_mean_colors

In [39]:
iris_m_s = iris.groupby('target').agg(['mean', 'std'])
iris_m_s

       sepal length (cm)           sepal width (cm)            \
                    mean       std             mean       std
target
0.0                5.006  0.352490            3.428  0.379064
1.0                5.936  0.516171            2.770  0.313798
2.0                6.588  0.635880            2.974  0.322497

       petal length (cm)           petal width (cm)
                    mean       std             mean       std
target
0.0             1.463265  0.175231         0.246939  0.106266
1.0             4.260000  0.469911         1.326000  0.197753
2.0             5.552000  0.551895         2.026000  0.274650

In [40]:
new_df = pd.DataFrame()
for col in iris_m_s.columns.get_level_values(0).unique():
    new_df[col] = iris_m_s[col].iloc[:,0].round(3).astype(str) + ' ± ' + iris_m_s[col].iloc[:,1].round(3).astype(str)

In [41]:
new_df

       sepal length (cm) sepal width (cm) petal length (cm) petal width (cm)
target
0.0        5.006 ± 0.352    3.428 ± 0.379     1.463 ± 0.175    0.247 ± 0.106
1.0        5.936 ± 0.516     2.77 ± 0.314       4.26 ± 0.47    1.326 ± 0.198
2.0        6.588 ± 0.636    2.974 ± 0.322     5.552 ± 0.552    2.026 ± 0.275

In [42]:
iris_mean_std_colors = new_df.style
iris_mean_std_colors.ctx = iris_cut_colors.ctx
iris_mean_std_colors

In [43]:
import matplotlib.pyplot as plt
from matplotlib import colors

Otra forma:

In [44]:
def b_g(s, cmap='PuBu', low=0, high=0):
    # take the text preceding the +-
    a = s.apply(lambda x: float(x.split("±")[0]))

    rng = a.max() - a.min()
    norm = colors.Normalize(a.min() - (rng * low),
                            a.max() + (rng * high))
    normed = norm(a.values)
    c = [colors.rgb2hex(x) for x in plt.cm.get_cmap(cmap)(normed)]
    return ['background-color: %s' % color for color in c]

In [45]:
new_df.style.apply(b_g)