# Deteccion de outliers

In [1]:
import pandas as pd

In [2]:
d = pd.DataFrame()

In [3]:
d.empty

True

In [17]:
df = pd.read_csv('Acamica/ds-online-40/Notebooks/Data/DS_Proyecto_01_Datos_Properati.csv')
df.head(3)

,start_date,end_date,created_on,lat,lon,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,currency,title,description,property_type,operation_type
0,2019-10-17,2019-12-23,2019-10-17,-34.605880,-58.384949,Argentina,Capital Federal,San Cristobal,7.0,7.0,2.0,140.0,140.0,153000.0,USD,"***Venta semipiso centro, ideal hostel*****",DESCRIPCION DE LA PROPIEDAD: Departamento de 1...,Departamento,Venta
1,2019-10-17,2019-11-21,2019-10-17,-34.624056,-58.412110,Argentina,Capital Federal,Boedo,2.0,1.0,2.0,70.0,58.0,159000.0,USD,Espectacular PH reciclado en Boedo sin expensas.,PH reciclado en Boedo a una cuadra de la plaz...,PH,Venta
2,2019-10-17,2019-11-01,2019-10-17,-34.593569,-58.427474,Argentina,Capital Federal,Palermo,2.0,1.0,1.0,45.0,45.0,125000.0,USD,Depto.tipo casa de 2 ambientes en Venta en Pal...,"2 ambienets amplio , excelente estado , patio ...",PH,Venta

In [18]:
useless_cols = ['start_date', 'end_date', 'created_on', 'lat', 'lon', 'currency', 'title', 'description',  'operation_type']
df.drop(columns=useless_cols, inplace=True)
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type
0,Argentina,Capital Federal,San Cristobal,7.0,7.0,2.0,140.0,140.0,153000.0,Departamento
1,Argentina,Capital Federal,Boedo,2.0,1.0,2.0,70.0,58.0,159000.0,PH
2,Argentina,Capital Federal,Palermo,2.0,1.0,1.0,45.0,45.0,125000.0,PH
3,Argentina,Capital Federal,Palermo,2.0,1.0,1.0,85.0,50.0,295000.0,PH
4,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,2.0,1.0,1.0,50.0,35.0,40000.0,PH

In [19]:
columns = ['rooms','bedrooms','bathrooms','surface_total','surface_covered','price']

## StandarScaler

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
scaler = StandardScaler()

X = scaler.fit_transform(df[columns])

In [18]:
X = pd.DataFrame(X, columns=columns)

print('Outliers por columnas')
(X>3).sum()

Outliers por columnas

rooms              1295
bedrooms            948
bathrooms          1377
surface_total       358
surface_covered     192
price              2205
dtype: int64

In [19]:
df[X.bathrooms>3].bathrooms.unique()

array([ 5.,  6.,  7.,  8.,  9., 11., 10., 14., 12., 13.])

#### Propiedades con multi-variante outliers

In [20]:
df.loc[(((X>3).sum(axis=1) / len(columns)) > 0.5)].head(15)

,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type
3618,Argentina,Bs.As. G.B.A. Zona Norte,Escobar,9.0,6.0,5.0,750.0,550.0,1150000.0,Casa
5418,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,13.0,7.0,8.0,12000.0,960.0,1850000.0,Casa
6797,Argentina,Capital Federal,Belgrano,8.0,6.0,6.0,551.0,420.0,1500000.0,Departamento
8996,Argentina,Bs.As. G.B.A. Zona Norte,San Miguel,9.0,8.0,6.0,9544.0,427.0,2450000.0,Casa
13146,Argentina,Bs.As. G.B.A. Zona Norte,Escobar,9.0,6.0,7.0,8920.0,578.0,920000.0,Casa
14743,Argentina,Bs.As. G.B.A. Zona Norte,San Isidro,10.0,6.0,7.0,1025.0,700.0,1850000.0,Casa
14746,Argentina,Capital Federal,San Telmo,10.0,9.0,9.0,919.0,652.0,1550000.0,PH
16505,Argentina,Bs.As. G.B.A. Zona Norte,San Isidro,9.0,7.0,10.0,753.0,400.0,1500000.0,Casa
17069,Argentina,Capital Federal,Villa Urquiza,8.0,7.0,6.0,628.0,530.0,1999000.0,Casa
17260,Argentina,Capital Federal,Belgrano,8.0,6.0,6.0,551.0,420.0,1500000.0,Departamento
18374,Argentina,Bs.As. G.B.A. Zona Norte,Escobar,9.0,6.0,5.0,750.0,550.0,1150000.0,Casa
19678,Argentina,Bs.As. G.B.A. Zona Norte,Malvinas Argentinas,12.0,9.0,7.0,4828.0,542.0,299000.0,Casa
25597,Argentina,Capital Federal,Liniers,10.0,10.0,10.0,813.0,710.0,1200000.0,Departamento
39777,Argentina,Capital Federal,Villa del Parque,10.0,8.0,6.0,1500.0,1400.0,2200000.0,Casa
46761,Argentina,Bs.As. G.B.A. Zona Oeste,La Matanza,8.0,7.0,6.0,905.0,650.0,1200000.0,Casa

## DBSCAN

In [20]:
from sklearn.preprocessing import RobustScaler
from sklearn.cluster import DBSCAN

In [21]:
robus_scaler = RobustScaler(quantile_range=(0.1, 0.9))
X = robus_scaler.fit_transform(df[columns])

In [22]:
dbscan = DBSCAN(eps=5, min_samples=3)

In [ ]:
dbscan.fit(X)

In [ ]:
X = pd.DataFrame(X, columns=columns)
X.loc[:, 'labels'] = dbscan.labels_

In [16]:
X[X.labels == -1]

,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,labels
125,0.0,0.0,0.0,21.500,20.222222,1.951220,-1
231,0.0,0.0,3.0,8.875,9.000000,74.146341,-1
252,4.0,1.0,1.0,30.875,28.555556,-2.439024,-1
253,4.0,1.0,2.0,118.125,32.444444,23.414634,-1
254,3.0,1.0,2.0,115.250,13.555556,9.756098,-1
...,...,...,...,...,...,...,...
122763,6.0,4.0,2.0,34.000,31.333333,24.878049,-1
122764,7.0,3.0,3.0,67.125,60.777778,69.756098,-1
122765,8.0,2.0,3.0,46.500,42.444444,54.146341,-1
122766,4.0,3.0,3.0,46.500,42.444444,55.121951,-1
122806,4.0,2.0,3.0,34.000,31.333333,40.487805,-1

## IsolationForest

In [5]:
from sklearn.ensemble import IsolationForest

In [7]:
iso = IsolationForest(n_jobs=-1)
X = iso.fit_predict(df[columns])

In [13]:
df.loc[X==-1]

,l1,l2,l3,rooms,bedrooms,bathrooms,surface_total,surface_covered,price,property_type
0,Argentina,Capital Federal,San Cristobal,7.0,7.0,2.0,140.0,140.0,153000.0,Departamento
231,Argentina,Capital Federal,Puerto Madero,3.0,2.0,4.0,149.0,149.0,1690000.0,Departamento
232,Argentina,Capital Federal,Puerto Madero,3.0,2.0,3.0,121.0,111.0,874080.0,Departamento
252,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,7.0,3.0,2.0,325.0,325.0,120000.0,Casa
253,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,7.0,3.0,3.0,1023.0,360.0,650000.0,Casa
...,...,...,...,...,...,...,...,...,...,...
122764,Argentina,Bs.As. G.B.A. Zona Norte,Pilar,10.0,5.0,4.0,615.0,615.0,1600000.0,Casa
122765,Argentina,Bs.As. G.B.A. Zona Norte,Pilar,11.0,4.0,4.0,450.0,450.0,1280000.0,Casa
122766,Argentina,Bs.As. G.B.A. Zona Norte,Pilar,7.0,5.0,4.0,450.0,450.0,1300000.0,Casa
122768,Argentina,Bs.As. G.B.A. Zona Oeste,Moreno,5.0,4.0,4.0,220.0,220.0,250000.0,Departamento
122806,Argentina,Bs.As. G.B.A. Zona Norte,Tigre,7.0,4.0,4.0,350.0,350.0,1000000.0,Casa